# Dataset
aclImdb/
aclImdb_v1.tar.gz

# Python & Notebook standard
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
venv/
env/
.env

# Large model files (optional, remove if you *want* to upload models to github, but GitHub has file size limits)
*.joblib
*.pkl
